<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:replace="fragment/config :: configFrag"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript"
          src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=dol835p4ve"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <title>경기요 - 경기대 맛집 모음</title>
  <style>* {
    font-family: 'Noto Sans KR', sans-serif;
  }

  .info {
    display: flex;
    background: #FFF;
    color: #000;
    text-align: center;
    line-height: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #029ade;
    border-radius: 23px;
    padding: 0px 10px 0px 10px;
  }

  .right {
    text-align: center;
    font-size: 16px;
    float: right;
  }

  .des {
    font-size: 14px;
  }

  #side {
    position: relative;
    z-index: 1;
  }

  </style>
</head>
<body>

<div id="map" style="width:100%;height:900px;">

  <div id="side">
    <th:block th:replace="common/sideStyles :: sideStylesFrag"/>
    <body>
    <!--        네비게이션 -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav(mySide);">&times;</a>
      <form id="listForm" action="/map" method="post">
        <fieldset><input type="text" id="keyword" name = "keyword" class="form-control" placeholder="ex)'한식','연어'.."
        style="width: 80px;">
          <button type="submit" onclick="openSearch()" class="btn-primary"><i class="fa fa-search"></i></button></fieldset>
      </form>

      <a onclick="openNav(suSide)" href="#">수원캠퍼스</a>
      <a onclick="openNav(seSide)" href="#">서울캠퍼스</a>
      <a onclick="starMsg()" href="/map/star">별점순</a>
      <a href="/board/list">게시판 이용하기</a>
    </div>

    <!--        수원 리스트-->
    <th:block th:replace="fragment/suwon::suwonFrag"/>

    <!--        서울 리스트-->
    <th:block th:replace="fragment/seoul::seoulFrag"/>

    <!--        서울 리스트-->
    <th:block th:replace="fragment/search::searchFrag"/>

    <!--           별점순-->
<!--    <th:block th:replace="fragment/starOrder::starFrag"/>-->

<!--    <th:block th:replace="fragment/searchList::searchFrag"/>-->

    <span style="font-size:30px;cursor:pointer" onclick="openNav(mySide)">
            <img src="https://cdn-icons-png.flaticon.com/512/9073/9073147.png" height="50" width="50" Menu></span>

    <span style="font-size:30px;cursor:pointer;float: right" onclick="closeNav(all)">
            <img src="https://cdn-icons-png.flaticon.com/128/3097/3097129.png" height="50" width="50" Menu></span>


    </body>
  </div>

</div>

<th:block th:replace="common/script::scriptFrag"/>
</body>
</html>
