<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="searchFrag">
    <div id="searchNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav(search)">&times;</a>
        <script th:inline="javascript">


            for (var i = 0; i < [[${list}]].length; i++) {

                var element = document.createElement("a");
                element.style.fontSize = "20px";
                element.href = "#";
                element.id = "list" + cnt++;
                ListArr.push(element.id);
                element.text = [[${list}]][i].name;

                var img = document.createElement("img");
                img.setAttribute("src", "https://cdn-icons-png.flaticon.com/128/2276/2276931.png");
                img.setAttribute("width", "16");
                img.setAttribute("height", "16");
                element.prepend(img);

                var seSidenav = document.getElementById("seSidenav");
                seSidenav.appendChild(element);

                document.write('<p class="smP" href="#" style="font-size: 16px">' + [[${list}]][i].des + '</p>');
                document.write('<p class="smP" href="#" style="font-size: 14px">' +
                    '<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" width="14">' +
                    '' + [[${list}]][i].star + "&nbsp;&nbsp;&nbsp;" + [[${list}]][i].sum + '</p><br>');

            }
        </script>
    </div>
</th:block>
</html>