<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="searchFrag">
<script th:inline="javascript">
    window.onload = () => {
        setQueryStringParams()
        getList();
    }

    /**
     * 게시글 조회
     */
    function getList() {

        const keyword = /*[[ ${keyword} ]]*/;

        if (!keyword) {
            return false;
        }

        fetch(`/map/search`).then(response => {
            if (!response.ok) {
                throw new Error('Request failed...');
            }
            return response.json();

        }).then(json => {

        var cnt = 0;
        var ListArr = [];
        for (var i = 0; i < json.length; i++) {

            var element = document.createElement("a");
            element.style.fontSize = "20px";
            element.href = "#";
            element.id = "list" + cnt++;
            ListArr.push(element.id);
            element.text = json[i].name;

            var img = document.createElement("img");
            img.setAttribute("src", "https://cdn-icons-png.flaticon.com/128/2276/2276931.png");
            img.setAttribute("width", "16");
            img.setAttribute("height", "16");
            element.prepend(img);

            var suSidenav = document.getElementById("suSidenav");
            suSidenav.appendChild(element);

            document.write('<p class="smP" href="#" style="font-size: 16px">' +json[i].des + '</p>')
            document.write('<p class="smP" href="#" style="font-size: 14px">' +
                '<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" width="14">' +
                '' + json[i].star + "&nbsp;&nbsp;&nbsp;" + json[i].sum + '</p><br>')

        }

        }).catch(error => {
            alert('게시글 정보를 찾을 수 없습니다.');
            goList();
        });
    }
</script>
</th:block>
</html>