<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="searchFrag">
    <div id="searchNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav(search)">&times;</a>
        <script th:inline="javascript">

            var searchList = [];
            var searchNav = document.getElementById("searchNav");
            for (var i = 0; i < ListArr.length; i++) {
                for (var j = 0; j < [[${list}]].length; j++) {
                    if (ListArr[i] == [[${list}]][j].name) {

                        var element = document.getElementById(ListArr[i]);
                        var clone = element.cloneNode(true);
                        searchList.push(clone);
                        searchNav.append(clone);


                        document.write('<p class="smP" href="#" style="font-size: 16px">' + [[${list}]][j].des + '</p>')
                        document.write('<p class="smP" href="#" style="font-size: 14px">' +
                            '<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" width="14">' +
                            '' + [[${list}]][j].star + "&nbsp;&nbsp;&nbsp;" + [[${list}]][j].sum + '</p><br>')
                    }
                }
            }

        </script>
    </div>
</th:block>
</html>