<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFrag">
    <script th:inline="javascript">

        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.3006759, 127.035805),
            zoom: 16
        });

        var markers = [],
            infoWindows = [];

        var temp = [],
            infoTemp = [];

        for (let i = 0; i < [[${maps}]].length; i++) {
            var name = [[${maps}]][i].name;
            var des = [[${maps}]][i].des;
            var star = [[${maps}]][i].star;
            var x = [[${maps}]][i].x;
            var y = [[${maps}]][i].y


            var contentString = [
                '<div class="info">' +
                '<div class="right">' +
                '<h2>' +
                '<img src="https://cdn-icons-png.flaticon.com/512/3183/3183463.png" width="20" height="20">' +
                name,
                '</h2>' +
                '<p class="des">' +
                des,
                '</p' +
                '><p>' +
                '<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" width="12" height="12">' +
                star,
                '</p>' +
                '</div>' +
                '</div>',
            ].join('');

            var marker = new naver.maps.Marker({
                map: map,
                position: new naver.maps.LatLng(x, y)
            })
            var infowindow = new naver.maps.InfoWindow({
                content:
                contentString,
                backgroundColor: "",
                borderWidth: "",
                disableAnchor: true,
                anchorSkew: false,
                anchorColor: "",
            });
            if ([[${maps}]][i].camp == 1) {
                temp.push(marker);
                infoTemp.push(infowindow);

            } else {
                markers.push(marker);
                infoWindows.push(infowindow)
            }
        }
        markers.push(...temp);
        infoWindows.push(...infoTemp);
        ;

        naver.maps.Event.addListener(map, 'idle', function () {
            updateMarkers(map, markers);
        });

        function updateMarkers(map, markers) {
            var mapBoounds = map.getBounds();
            var marker, position;

            for (var i = 0; i < markers.length; i++) {

                marker = markers[i]
                position = marker.getPosition();

                if (mapBoounds.hasLatLng(position)) {
                    showMarker(map, marker);
                } else {
                    hideMarker(map, marker);
                }
            }
        }

        function showMarker(map, marker) {

            if (marker.setMap()) return;
            marker.setMap(map);
        }

        function hideMarker(map, marker) {

            if (!marker.setMap()) return;
            mark.setMap(null);
        }

        function getClickHandler(seq) {
            return function (e) {
                var marker = markers[seq],
                    infoWindow = infoWindows[seq];

                if (infoWindow.getMap()) {
                    infoWindow.close();
                } else {
                    infoWindow.open(map, marker);
                }
                var pos = marker.getPosition();
                map.panTo(pos);
            }
        }

        function getInfoWindows() {
            return infoWindows;
        }

        function getMarkers() {
            return markers;
        }

        for (var i = 0, ii = markers.length; i < ii; i++) {
            naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
        }

        var mySide = "mySidenav",
            suSide = "suSidenav",
            seSide = "seSidenav";
            search = "searchNav";
            all = "all";

        function openNav(id) {
            if (id === suSide || id === seSide) {
            document.getElementById(id).style.width = "75%";
            document.getElementById(id).style.height = "29%";
            } else {
                document.getElementById(id).style.width = "55%";
                document.getElementById(id).style.height = "29%";
            }
        }
        var flag = true;
        if ([[${list}]] == null || [[${list}]].length == 0) {
            flag = false;
        }

        if (flag) {
            window.onload = () => {
                openSearch();
            };
        }


        async function openSearch() {
            document.getElementById("searchNav").style.width = "75%";
            document.getElementById("searchNav").style.height = "29%";

        }

        function closeNav(id) {
            document.getElementById("suSidenav").style.width = "0";
            document.getElementById("seSidenav").style.width = "0";
            document.getElementById("searchNav").style.width = "0";
            document.getElementById(id).style.width = "0";
        }

        function starMsg() {
            alert("별점순 사이트로 이동합니다.")
        }

        for (var i = 0, ii = ListArr.length; i < ii; i++) {
            document.getElementById(ListArr[i]).addEventListener('click', ListHandler(i));
            for (var j = 0; j < searchList.length; j++) {
                if (ListArr[i] == [[${list}]][j].name) {
                    document.getElementById(searchList[j].addEventListener('click', ListHandler(i)));

                }
            }

        }

        function ListHandler(seq) {
            return function (e) {
                var gMarkers = getMarkers();
                var gInfoWindow = getInfoWindows();
                var marker = gMarkers[seq];
                var infowindow = gInfoWindow[seq];

                if (infowindow.getMap()) {
                } else {
                    infowindow.open(map, marker)
                }
                var pos = marker.getPosition();
                map.panTo(pos);
            };
        }

    </script>
</th:block>
</body>
</html>/map-0.0.1-SNAPSHOT.jar
