<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/common::head('Hello, Spring boot!')">

    <!-- Custom styles for this template -->

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragment/common::menu('board')">


</nav>

<div class="container">
    <h2>게시판</h2>

<!--    <div>총 건수 : <span th:text="${boards.totalElements}"></span></div>-->
    <form class="form-inline d-flex justify-content-end d-flex align-items-center" method="get"
                th:action="@{/board/list}">
        <div class="form-group mx-sm-3 mb-2">
            <label for="keyword" class="sr-only"></label>
            <input type="text" class="form-control" id="keyword" name="keyword" th:value="${param.keyword}">
        </div>
        <button type="submit" class="btn btn-primary mb-2" style="margin-top: 22px">검색</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">등록일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="board, num: ${boards}">
            <td th:text="${num.count}"></td>
            <td><a th:text="${board.title}" th:href="@{|/board/view/${board.id}/${boards.number}|}" th:onclick="view()"></a></td>
            <td th:text="${board.user.username}"></td>
            <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${board.hits}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1}, keyword=${param.keyword})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled' : ''" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#"  th:href="@{/board/list(page=${i - 1}, keyword=${param.keyword})}" th:text="${i}"></a></li>

            <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled' : ''">
                <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1}, keyword=${param.keyword})}">Next</a>
            </li>
        </ul>
    </nav>
    <div class="text-end">
        <a type="button" class="btn btn-primary" th:href="@{/board/write}" th:onclick="goList()">작성</a>
    </div>
</div>

</main><!-- /.container -->

<footer th:replace="fragment/common::footer"></footer>
</body>
</html>